{% extends 'base.html' %}

{% block content %}
    <h4 class="my-4">Input visiting points:</h4>
    <form method="post" target="_blank">
        {% for point in geo_points %}
            <div class="form-group" id="point{{ loop.index0 }}">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text p-num d-none d-sm-block" id="pointLabel{{ loop.index0 }}">P{{ loop.index }}</span>
                        <div id="icon{{ loop.index0 }}" class="input-group-text justify-content-center p-icon {{ "p-start" if loop.index0 == 0 }}"><i class="{{ "fas fa-home" if loop.index0 == 0 else "fas fa-user" }}"></i></div>
                        <div hidden class="spinner-box justify-content-center" id="spinner{{ loop.index0 }}">
                            <div class="spinner-border text-secondary mt-1" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" id="{{ loop.index0 }}" type="text" value="{{ point['name'] }}" onchange="search({{ loop.index0 }})" onkeypress="searchpress(event, this)" />
                    <div id="control{{ loop.index0 }}" class="input-group-append">
                        {% if loop.index0 != 0 %}
                            <button class="btn btn btn-outline-danger p-btn" type="button" onclick="deletePoint({{ loop.index0 }})" tabindex="-1"><i class="fas fa-minus"></i></button>
                        {% endif %}
                        <button class="btn btn btn-outline-success p-btn" type="button" onclick="insertPointAfter({{ loop.index0 }})" tabindex="-1"><i class="fas fa-plus"></i></button>
                        <button class="btn btn btn-outline-primary p-btn d-none d-sm-block" type="button" onclick="search({{ loop.index0 }})" tabindex="-1"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <small class="form-text text-muted text-monospace" id="geo{{ loop.index0 }}"></small>
                <input type="hidden" id="geo_{{ loop.index0 }}" name="point{{ loop.index0 }}" value="{{ point['geolocation'] }}" />
            </div>
        {% endfor %}
        <div class="form-group d-none d-sm-block">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text p-num d-none d-sm-block">P{{ geo_points|length + 1 }}</span>
                    <div class="input-group-text p-icon p-end"><i class="fas fa-home"></i></div>
                </div>
                <input class="form-control p-end" disabled type="text" value="Return back" />
            </div>
        </div>
        <div class="btn-toolbar my-4">
            <button class="btn btn-primary mr-2" type="submit" name="action" value="view">Display</button>
            <button class="btn btn-success" type="submit" name="action" value="optimize">Optimize</button>
        </div>
    </form>

    <script>
        let numberOfPoints = {{ geo_points|length }};

        function renumerate() {
            $(".p-num").each(function (i) {
                $(this).text("P"+(i+1));
            });
        }

        function deletePoint(pointId) {
            $("#point" + pointId).remove();
            renumerate();
        }

        function insertPointAfter(pointId) {
            let newPoint =
                '<div class="form-group" id="point'+numberOfPoints+'">' +
                    '<div class="input-group">' +
                        '<div class="input-group-prepend">' +
                            '<span class="input-group-text p-num d-none d-sm-block" id="pointLabel'+numberOfPoints+'"></span>' +
                            '<div id="icon'+numberOfPoints+'" class="input-group-text p-icon"><i class="fas fa-user"></i></div>' +
                            '<div hidden class="spinner-box justify-content-center" id="spinner'+numberOfPoints+'">' +
                                '<div class="spinner-border text-secondary mt-1" role="status">' +
                                    '<span class="sr-only">Loading...</span>' +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                        '<input class="form-control" id="'+numberOfPoints+'" type="text" onchange="search('+numberOfPoints+')" onkeypress="searchpress(event, this)" />' +
                        '<div id="control'+numberOfPoints+'" class="input-group-append">' +
                            '<button class="btn btn btn-outline-danger p-btn" type="button" onclick="deletePoint('+numberOfPoints+')" tabindex="-1"><i class="fas fa-minus"></i></button>' +
                            '<button class="btn btn btn-outline-success p-btn" type="button" onclick="insertPointAfter('+numberOfPoints+')" tabindex="-1"><i class="fas fa-plus"></i></button>' +
                            '<button class="btn btn btn-outline-primary p-btn d-none d-sm-block" type="button" onclick="search('+numberOfPoints+')" tabindex="-1"><i class="fas fa-search"></i></button>' +
                        '</div>' +
                    '</div>' +
                    '<small class="form-text text-muted" id="geo'+numberOfPoints+'"></small>' +
                    '<input type="hidden" id="geo_'+numberOfPoints+'" name="point'+numberOfPoints+'" value="" />' +
                '</div>';
            $(newPoint).insertAfter("#point"+pointId);
            renumerate();
            numberOfPoints++;
        }

        function search(id) {
            if ($("#"+id).val()){
                $(':input[type="submit"]').prop('disabled', true);
                $("#control"+id).hide();
                $("#icon"+id).hide();
                $("#spinner"+id).removeAttr("hidden");
                $.ajax({
                        url: "/api/search/"+$("#"+id).val()
                    }).done(function(data) {
                        $("#"+id).val(data["address"]);
                        $("#geo"+id).text("GEOLOCATION: "+data["lat"]+' '+data["lon"]);
                        $("#geo_"+id).val(data["lat"]+' '+data["lon"]);
                    }).fail(function () {
                        $("#geo"+id).html("UNDEFINED GEOLOCATION<br>ONLY DC IS SUPPORTED NOW");
                        $("#geo_"+id).val("");
                    }).always(function () {
                        $("#spinner"+id).attr("hidden", "");
                        $("#icon"+id).show();
                        $("#control"+id).show();
                        $(':input[type="submit"]').prop('disabled', false);
                });
            }
        }
        
        function searchpress(event, t) {
            if (event.which === 13) {
                event.preventDefault();
                search(t.id);
            }
        }
    </script>

    <style>
        .input-group-prepend {
            text-align: center;
        }
        .p-num {
            width: 50px;
        }
        .p-icon,.p-btn,.spinner-box {
            width: 45px;
        }
        .p-start {
            background-color: lightgreen;
        }
        .p-end {
            background-color: lightpink;
        }
    </style>
{% endblock %}